<div class="container">
  <div class="welcome">
    <div class="container-fluid">
      <h2> Welcome to moodify. </h2>
      <h3> The crowdsourced application that generates music playlists based on moods. </h3>
      <h4> As our application uses Spotify, we need your permission to connect Moodify with your Spotify account. </h4>
      <!-- <br> -->
      <h4> Connecting your Spotify account to our app: </h4>
      <h5> 1. Allows you to instantly add to your account the playlists you enjoy with a single click. </h5>
      <h5> 2. Does <u>not</u> affect your Spotify account in any other way. </h5>
      <h5> 3. Does <u>not</u> allow us access to any account information
        other than your publically available Spotify User ID. </h5>
      <a id="next_button" type="button" class="btn btn-success"
          href="https://accounts.spotify.com/authorize?client_id=780a86aafb444d96aef50b9be3eee94f&scope=playlist-modify-public&response_type=token&redirect_uri=https:%2F%2Fmoodifyplay.azurewebsites.net">
          Connect
      </a>
    </div>
  </div>
</div>
