<div class="container">

  <div class="description">
    Select up to three emojis.
  </div>

  <div class="emojis">
    <div class="container-fluid">
      <a class="em em-grinning" id="emoji2" href=emojis#
        (click)="select('grinning_face')"
        [ngStyle]="{'padding': (codes.indexOf('grinning_face') > -1) ? '28px': ''}"></a>
      <a class="em em-grin" id="emoji2" href=emojis#
        (click)="select('grinning_face_with_smiling_eyes')"
        [ngStyle]="{'padding': (codes.indexOf('grinning_face_with_smiling_eyes') > -1) ? '28px': ''}"></a>
      <a class="em em-relaxed" id="emoji2" href=emojis#
        (click)="select('smiling_face_with_smiling_eyes')"
        [ngStyle]="{'padding': (codes.indexOf('smiling_face_with_smiling_eyes') > -1) ? '28px': ''}"></a>
      <a class="em em-joy" id="emoji2" href=emojis#
        (click)="select('face_with_tears_of_joy')"
        [ngStyle]="{'padding': (codes.indexOf('face_with_tears_of_joy') > -1) ? '28px': ''}"></a>
      <a class="em em-heart_eyes" id="emoji2" href=emojis#
        (click)="select('smiling_face_with_heart-eyes')"
        [ngStyle]="{'padding': (codes.indexOf('smiling_face_with_heart-eyes') > -1) ? '28px': ''}"></a>
      <br>
      <a class="em em-wink" id="emoji2" href=emojis#
        (click)="select('winking_face')"
        [ngStyle]="{'padding': (codes.indexOf('winking_face') > -1) ? '28px': ''}"></a>
      <a class="em em-stuck_out_tongue" id="emoji2" href=emojis#
        (click)="select('face_with_tongue')"
        [ngStyle]="{'padding': (codes.indexOf('face_with_tongue') > -1) ? '28px': ''}"></a>
      <a class="em em-stuck_out_tongue_winking_eye" id="emoji2" href=emojis#
        (click)="select('winking_face_with_tongue')"
        [ngStyle]="{'padding': (codes.indexOf('winking_face_with_tongue') > -1) ? '28px': ''}"></a>
      <a class="em em-stuck_out_tongue_closed_eyes" id="emoji2" href=emojis#
        (click)="select('squinting_face_with_tongue')"
        [ngStyle]="{'padding': (codes.indexOf('squinting_face_with_tongue') > -1) ? '28px': ''}"></a>
      <a class="em em-kissing_heart" id="emoji2" href=emojis#
        (click)="select('face_blowing_a_kiss')"
        [ngStyle]="{'padding': (codes.indexOf('face_blowing_a_kiss') > -1) ? '28px': ''}"></a>
      <br>
      <a class="em em-sunglasses" id="emoji2" href=emojis#
        (click)="select('smiling_face_with_sunglasses')"
        [ngStyle]="{'padding': (codes.indexOf('smiling_face_with_sunglasses') > -1) ? '28px': ''}"></a>
      <a class="em em-relieved" id="emoji2" href=emojis#
        (click)="select('relieved_face')"
        [ngStyle]="{'padding': (codes.indexOf('relieved_face') > -1) ? '28px': ''}"></a>
      <a class="em em-smirk" id="emoji2" href=emojis#
        (click)="select('smirking_face')"
        [ngStyle]="{'padding': (codes.indexOf('smirking_face') > -1) ? '28px': ''}"></a>
      <a class="em em-neutral_face" id="emoji2" href=emojis#
        (click)="select('neutral_face')"
        [ngStyle]="{'padding': (codes.indexOf('neutral_face') > -1) ? '28px': ''}"></a>
      <a class="em em-expressionless" id="emoji2" href=emojis#
        (click)="select('expressionless_face')"
        [ngStyle]="{'padding': (codes.indexOf('expressionless_face') > -1) ? '28px': ''}"></a>
      <br>
      <a class="em em-flushed" id="emoji2" href=emojis#
        (click)="select('flushed_face')"
        [ngStyle]="{'padding': (codes.indexOf('flushed_face') > -1) ? '28px': ''}"></a>
      <a class="em em-sleeping" id="emoji2" href=emojis#
        (click)="select('sleeping_face')"
        [ngStyle]="{'padding': (codes.indexOf('sleeping_face') > -1) ? '28px': ''}"></a>
      <a class="em em-sweat" id="emoji2" href=emojis#
        (click)="select('downcast_face_with_sweat')"
        [ngStyle]="{'padding': (codes.indexOf('downcast_face_with_sweat') > -1) ? '28px': ''}"></a>
      <a class="em em-grimacing" id="emoji2" href=emojis#
        (click)="select('grimacing_face')"
        [ngStyle]="{'padding': (codes.indexOf('grimacing_face') > -1) ? '28px': ''}"></a>
      <a class="em em-confused" id="emoji2" href=emojis#
        (click)="select('confused_face')"
        [ngStyle]="{'padding': (codes.indexOf('confused_face') > -1) ? '28px': ''}"></a>
      <br>
      <a class="em em-persevere" id="emoji2" href=emojis#
        (click)="select('persevering_face')"
        [ngStyle]="{'padding': (codes.indexOf('persevering_face') > -1) ? '28px': ''}"></a>
      <a class="em em-pensive" id="emoji2" href=emojis#
        (click)="select('pensive_face')"
        [ngStyle]="{'padding': (codes.indexOf('pensive_face') > -1) ? '28px': ''}"></a>
      <a class="em em-disappointed" id="emoji2" href=emojis#
        (click)="select('disappointed_face')"
        [ngStyle]="{'padding': (codes.indexOf('disappointed_face') > -1) ? '28px': ''}"></a>
      <a class="em em-unamused" id="emoji2" href=emojis#
        (click)="select('unamused_face')"
        [ngStyle]="{'padding': (codes.indexOf('unamused_face') > -1) ? '28px': ''}"></a>
      <a class="em em-tired_face" id="emoji2" href=emojis#
        (click)="select('tired_face')"
        [ngStyle]="{'padding': (codes.indexOf('tired_face') > -1) ? '28px': ''}"></a>
      <br>
      <a class="em em-confounded" id="emoji2" href=emojis#
        (click)="select('confounded_face')"
        [ngStyle]="{'padding': (codes.indexOf('confounded_face') > -1) ? '28px': ''}"></a>
      <a class="em em-cry" id="emoji2" href=emojis#
        (click)="select('crying_face')"
        [ngStyle]="{'padding': (codes.indexOf('crying_face') > -1) ? '28px': ''}"></a>
      <a class="em em-sob" id="emoji2" href=emojis#
        (click)="select('loudly_crying_face')"
        [ngStyle]="{'padding': (codes.indexOf('loudly_crying_face') > -1) ? '28px': ''}"></a>
      <a class="em em-scream" id="emoji2" href=emojis#
        (click)="select('face_screaming_in_fear')"
        [ngStyle]="{'padding': (codes.indexOf('face_screaming_in_fear') > -1) ? '28px': ''}"></a>
      <a class="em em-angry" id="emoji2" href=emojis#
        (click)="select('angry_face')"
        [ngStyle]="{'padding': (codes.indexOf('angry_face') > -1) ? '28px': ''}"></a>
      <br>

    <a id="next_button" type="button" class="btn btn-default"
    href="https://accounts.spotify.com/authorize?client_id=780a86aafb444d96aef50b9be3eee94f&scope=playlist-modify-public&response_type=token&redirect_uri=https:%2F%2Fmoodifyplay.azurewebsites.net">Start Over
    </a>

    <button id="next_button" type="button" class="btn btn-danger"
            (click)="submit()">
            Next
    </button>

      <br>
      <!-- <p *ngIf="codes.length == 0"> Select up to three emojis </p> -->
    </div>
  </div>
</div>
